<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>
    <ul>
        <% projects.forEach(project => { %>
            <li>
                <strong><%= project.title %></strong> - <%= project.description %>
                <p>Location: <%= project.location %></p>
                <p>Date: <%= project.date %></p>
                <p>Sponsored by: <%= project.organization_name %></p>
            </li>
        <% }) %>
    </ul>
</main>
<%- include('partials/footer') %>